<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Input Form</title>
</head>
<body>
    <h1>File Input Form</h1>
    <form action="/process" method="post">
        <label for="file_path1">Sanger Sequences CSV file path:</label>
        <input type="text" name="file_path1" required>
        <br>
        <label for="file_path2">Eblock Sequences CSV file path:</label>
        <input type="text" name="file_path2" required>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>